<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-Token" content="<%= csrfToken %>">
    <meta name="PageContent" content="<%= currentPage.content %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://cdn.ckeditor.com/4.17.1/basic/ckeditor.js"></script> -->
    <title>
        <%= title %>
    </title>
    <style>
        #contentDisplay {
        white-space: pre-wrap; /* This CSS property allows the text to wrap and break lines */
    }
    </style>
    <script>
        var token = document.querySelector('meta[name="csrf-Token"]').getAttribute("content");

        function deletepage(id) {
            fetch(`/page/${id}/delete`, {
                method: "delete",
                headers: { "content-type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        alert(`Page deleted succesfully`);
                        window.location.href = "/chapter/<%= CurrentChapter.id %>/pageList"
                    }
                })
                .catch((err) => {
                    console.log(error);
                })
        }

        let PageContent = document.querySelector('meta[name="PageContent"]').getAttribute("content");
        document.addEventListener('DOMContentLoaded', function () {
            let databaseContent = PageContent;
            console.log("databaseContent", databaseContent);
            document.getElementById('contentDisplay').innerHTML = databaseContent;
        });
    </script>
</head>

<body
    style=" font-family:serif; background-size: cover; background-image: url(https://img.freepik.com/premium-photo/blurred-colorful-wallpaper-background_976742-179.jpg);">
    <div class="flex mt-5 ">
        <a href="/teacherDB" class="ml-80 underline decoration-blue-400 text-blue-600">Back To Dashboard</a>
        <p class="ml-3 text-blue-600">></p>
        <a href="/course/<%= currentCourse.id %>/chapterList" class="underline decoration-blue-400 text-blue-600">
            <%= currentCourse.title %>
        </a>
        <p class="ml-3 text-blue-600">></p>
        <a href="/chapter/<%= CurrentChapter.id%>/pageList" class="underline decoration-blue-400 text-blue-600">
                <%= CurrentChapter.name %>
        </a>
        <div class="flex ">
            <% if(currentUser.role==="Educator" ){%>
                <% if(currentCourse.userId===currentUser.id){ %>
                    <button
                        class="ml-96 w-[70px] bg-pink-300 h-[40px] mb-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#f777f7] before:to-[#9937f0] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]"
                        onclick="deletepage(<%=currentPage.id%>)">
                        Delete
                    </button>
                    <% }} %>
        </div>
    </div>
    <form action="">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <div class="flex items-center justify-center mt-5">
        <div class="w-fit h-fit text-violet-700 text-2xl font-bold underline">
            <h1>
                <%= currentPage.title %>
            </h1>
        </div>
    </div>
    <div class="flex items-center mx-44 bg-gray-100 h-max border border-purple-500 border-2  mt-5">
        <div class="px-2 text-gray-900">
            <pre id="contentDisplay">
            </pre>
        </div>
    </div>

    <div class=" fixed " style="bottom:15px; left:43rem;">
        <% if(currentUser.role==="Student" ){%>
            <% if(enrollmentStatus) {%>
                <% if(completedPageStatus) {%>
                    <span
                        class=" w-[160px] bg-pink-300 h-[40px] flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#f777f7] before:to-[#9937f0] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]">
                        Completed
                    </span>
                    <% } else {%>
                        <form action="/chapter/<%= currentPage.id %>/markAsCompleted" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <button type="submit"
                                class="flex w-[160px] bg-pink-300 h-[40px] items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#f777f7] before:to-[#9937f0] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]">
                                Mark As Completed
                            </button>
                            <% } } } %>
                        </form>
    </div>
</body>

</html>